body {
    font-family: Tahoma;
    font-size: 13px;
    margin:  0px;
    padding: 0px;
    background: 0 0;
}
ul{
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}
#header{
    height: 230px;
}
#header2{
    height: 200px;
}
#header_margin{
    width: 1000px;
    margin: 0px auto;
    height: 151px;
}
#header_margin .header_margin_left {
    float: left;
    height: 151px;
}
#header_margin #logo{
    width: 400px;
    margin-left: 290px;
}
#header_margin #logo img{
    width: 400px;
    height: 120px;
    margin-top: 10px;
}
#header_margin #from_search {
    margin-top: 30px;
    width: 400px;
    position: relative;
    margin-left: 180px;
}
#header_margin #from_search input{
    border: 1px solid #1154a4;
    background: #c3ecf8;
    height: 40px;
    width: 440px;
}
#header_margin #from_search button{
    background: url("../images/btn_search.png");
    background-repeat: repeat-x;
    width: 160px;
    height: 43px;
    position: absolute;
    top: -1px;
    right: -205px;
    padding: 2px 6px 3px;
}
#slider_menu {
    height: 84px;
    float: none;
}
#slider_menu_margin {
    margin: -14px auto;
    height: 310px;
    width: 1000px;
    background: url("../images/123.png") repeat-x;

}
#slider_menu_margin #menu{
    height: 40px;
    background: #11252f;
    width: 1000px;
    clear: both;
}
#slider_menu_margin #slider{
    clear: both;
}
#slider_menu_margin #menu ul li{
    float: left;

}
#slider_menu_margin #menu ul li a{
    float: left;
    color: aliceblue;
    text-decoration:  none;
    line-height: 40px;
    background: url("/images/Line.png") no-repeat right;
    padding:  0px 15px 0px 15px;
}
#slider_menu_margin #menu ul li a:hover{
    background: #eb2629;
}
#main {
    margin: 27px auto;
    width:  1000px;
}

#main #left {
    float: left;
    width: 845px;
    min-height: 600px;
}
#main #left .block {
    width: 845px;
    padding-top:10px;
    clear: both;
}
#main #left .block .block_sidebar{
    background: #1154a4;
    width: 840px;
}
#main #left .block .block_sidebar h6 {
    color: #FFF;
    margin-left: 0px;
    text-indent: 10px;
    height: 32px; 
    line-height: 35px;
}
#main #left .block .block_sidebar a.readmore{
    float: right;
    margin-right: 20px;
    margin-top: -36px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#left .block ul li{
    float: left;
    width: 211px;
    text-align: center;
    padding-top: 10px;
}
#left .block ul li img{
    width: 160px;
    height: 160px;
}
#left .block ul li h5{
    color: #404040;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
#left .block ul li p{
    color:#f57224;
}

#main #left #left_info {
    width: 400px;
    min-height: 300px;
}
#main #left #right_info {
    width: 400px;
    min-height: 300px;
}

#left .block ul {
    float: left;
    width: 211px;
    text-align: left;
    padding-top: 10px;
}
#left .block ul img{
    width: 400px;
}
#left .block ul h5{
    color: #404040;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
#left .block ul p{
    color:#f57224;
}


#main #right {
    float: left;
    width: 155px;
    min-height: 600px;
}
#main #right .block {
    width: 155px;
    padding-top:10px;
    clear: both;
}
#main #right .block .block_sidebar{
    background: #1154a4;
    width: 155px;
    clear: both;
}
#main #right .block .block_sidebar h6 {
    color: #FFF;
    margin-left: 0px;
    text-indent: 10px;
    height: 32px; 
    line-height: 35px;
}
#main #right .block .block_sidebar a.readmore{
    float: right;
    margin-right: 20px;
    margin-top: -36px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#right .block ul li{
    float: left;
    width: 211px;
    text-align: left;
    padding-top: 10px;
}

#right .block ul li p{
    color:#f57224;
}

